<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comerciante Espacial</title>
  <link rel="stylesheet" href="tiponave.component.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a routerLink="/comercializar">Comercio</a></li>
        <li><a routerLink="/estrellas">Viajes</a></li>
        <li><a routerLink="/jugadores">Perfil</a></li>
        <li><a routerLink="/home">Salir</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="game-interface-container">
      <div class="ship-info">
        <h3>Información de la Nave</h3>
        <tr *ngFor="let nave of naves">
        <p>Nombre: {{ nave.nombre }}</p>
        <p>Carga Disponible: {{ nave.cargaDisponible }} m³</p>
        <p>Velocidad Actual: {{ nave.velocidadActual }} km/s</p>
        <p>Posición Actual: ({{ nave.posicionX }}, {{ nave.posicionY }}, {{ nave.posicionZ }})</p>
      </tr>
      </div>
      <div class="stellar-map">
        <h3>Mapa Estelar</h3>
        <!-- Aquí iría el mapa estelar interactivo -->
      </div>
      <div class="other-ships">
        <!-- Información de otras naves o jugadores -->
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 Comerciante Espacial. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
