<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
  <link rel="stylesheet" href="nave-detalle.component.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a routerLink="/comercializar">COMERCIO</a></li>
        <li><a routerLink="/planetas">PLANETA</a></li>
        <li><a routerLink="/estrellas">VIAJE</a></li>
        <li><a routerLink="/jugadores">USUARIO</a></li>
        <li><a routerLink="/home">SALIR</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="ship-control-container">
        <h2>Control de la Nave</h2>
        <div class="ship-details">
          <div *ngIf="nave">
            <table>
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>Nombre</td>
                  <td>{{ nave.nombre }}</td>
                </tr>
                <tr>
                  <td>Capacidad de Carga</td>
                  <td>{{ nave.cargaMaxima }} m³</td>
                </tr>
                <tr>
                  <td>Velocidad Máxima</td>
                  <td>{{ nave.velocidadMaxima }} km/s</td>
                </tr>
                <tr>
                  <td>Posición Actual</td>
                  <td>({{ nave.naveX }}, {{ nave.naveY }}, {{ nave.naveZ }})</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="navigation-container">
        <app-estrella></app-estrella>
      </div>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Comerciante Espacial. Todos los derechos reservados.</p>
  </footer>
</body>

</html>