<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
    <title>Comerciante Espacial</title>
</head>

<body>   
    <h1>Comerciante Espacial</h1>
    <div class="container">
        <nav>
          <ul>
            <li><a routerLink="/planetas">PLANETA</a></li>
            <li><a routerLink="/estrellas">VIAJE</a></li>
            <li><a routerLink="/jugadores">USUARIO</a></li>
            <li><a routerLink="/home">SALIR</a></li>
            <li><a routerLink="/comercializar">COMERCIO</a></li>
          </ul>
        </nav>
      </div>
</body>

</html>
