body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f0f0f0;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 20px 0;
  background: linear-gradient(to bottom, #8e44ad, #6c5ce7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}