<h2>Lista de Jugadores</h2>
<a routerLink="/crear-jugador">Agregar Nuevo Jugador</a>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Equipo</th>
      <th>Contraseña</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of jugadores">
      <td>{{ jugador.id }}</td>
      <td>{{ jugador.nombre }}</td>
      <td>{{ jugador.equipo }}</td>
      <td>{{ jugador.contrasena }}</td>
      <td>{{ jugador.rol }}</td>
      <td>
        <a [routerLink]="['./editar-jugador/editar-jugador.component.ts', jugador.id]">Editar</a>
        <a (click)="eliminarJugador(jugador.id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>
