<h2>Crear Nuevo Jugador</h2>
<form (ngSubmit)="guardarJugador()">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" [(ngModel)]="jugador.nombre" required><br>
  <label for="contraseña">Contraseña:</label>
  <input type="password" id="contraseña" name="contraseña" [(ngModel)]="jugador.contrasena" required><br>
  <label for="equipo">Equipo:</label>
  <select id="equipo" name="equipo" [(ngModel)]="jugador.equipo" required>
  </select><br>
  <button type="submit">Guardar Jugador</button>
</form>
<a routerLink="/lista-jugador">Cancelar</a>
