<h1>Lista de Equipos</h1>
<a routerLink="/nuevo-equipo">Agregar Nuevo Equipo</a>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dinero</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let equipo of equipos">
      <td>{{ equipo.id }}</td>
      <td>{{ equipo.nombre }}</td>
      <td>{{ equipo.dinero }}</td>
      <td>
        <a >Ver Detalles</a>
        <a >Editar</a>
        <a >Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>
