<h1>Lista de Equipos</h1>
<a routerLink="/nuevo-equipo">Agregar Nuevo Equipo</a>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dinero</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let equipo of equipos">
      <td>{{ equipo.id }}</td>
      <td>{{ equipo.nombre }}</td>
      <td>{{ equipo.dinero }}</td>
      <td>
        <a style="cursor: pointer;" [routerLink]="['/equipos/',equipo.id]">Detalles</a>        
        <button (click)="verDetalles(equipo.id)" style="cursor: pointer;">Editar</button>
        <button (click)="eliminarEquipo(equipo.id)" style="cursor: pointer;">Eliminar</button>        
      </td>
    </tr>
  </tbody>
</table>
