<h1>Lista de Estrellas</h1>
<a routerLink="/estrellas/nuevo">Agregar Nueva Estrella</a>

<div *ngIf="estrellasPage">
  <h2>Estrellas</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Habitada</th>
        <th>Coordenada X</th>
        <th>Coordenada Y</th>
        <th>Coordenada Z</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estrella of estrellasPage.content">
        <td>{{ estrella.nombre }}</td>
        <td>{{ estrella.habitada }}</td>
        <td>{{ estrella.coordenadaX }}</td>
        <td>{{ estrella.coordenadaY }}</td>
        <td>{{ estrella.coordenadaZ }}</td>
        <td>
          <a [routerLink]="['../model/estrella/estrella.ts', estrella.id]">Ver Detalles</a> |
          <a [routerLink]="['../model/estrella/estrella.ts', estrella.id, 'editar']">Editar</a> |
          <a (click)="eliminarEstrella(estrella.id)">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <button (click)="obtenerEstrellas(estrellasPage.number - 1)" [disabled]="estrellasPage.first">Anterior</button>
  <span>Página {{ estrellasPage.number + 1 }} de {{ estrellasPage.totalPages }}</span>
  <button (click)="obtenerEstrellas(estrellasPage.number + 1)" [disabled]="estrellasPage.last">Siguiente</button>
</div>

