<div class="navigation-container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Distancia</th>
        <th>Acción</th>
        <th>Duración</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estrellaConDistancia of nearestStars">
        <td>{{ estrellaConDistancia.estrella.nombre }}</td>
        <td>{{ estrellaConDistancia.distancia | number:'1.2-2' }}</td>
        <td><button (click)="viajarA(estrellaConDistancia.estrella.id)">Viajar</button></td>
        <td>{{ travelTime }} días</td>
      </tr>
    </tbody>
  </table>
</div>