table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #8e44ad;
  }
  
  thead th {
    padding: 10px;
    font-size: 1.2em;
    color: #ffd700;
  }
  
  tbody tr {
    background-color: #6c5ce7;
  }
  
  tbody td {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
  }