<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Estrellas</title>
    <link rel="stylesheet" href="estrella.component.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a routerLink="/home">Inicio</a></li>
                <li><a routerLink="/productos">Comercio</a></li>
                <li><a routerLink="/estrellas">Viajes</a></li>
                <li><a routerLink="/jugadores">Perfil</a></li>
                <li><a routerLink="/home">Salir</a></li>
            </ul>
        </nav>
    </header>

    <h1>Lista de Estrellas</h1>
    <a routerLink="/estrellas/nuevo">Agregar Nueva Estrella</a>

    <div *ngIf="estrellasPage">
        <h2>Estrellas</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Habitada</th>
                    <th>Coordenada X</th>
                    <th>Coordenada Y</th>
                    <th>Coordenada Z</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estrella of estrellasPage.content">
                    <td>{{ estrella.nombre }}</td>
                    <td>{{ estrella.habitada }}</td>
                    <td>{{ estrella.coordenadaX }}</td>
                    <td>{{ estrella.coordenadaY }}</td>
                    <td>{{ estrella.coordenadaZ }}</td>
                    <td>
                        <a [routerLink]="['/estrellas/', estrella.id]">Ver Detalles</a> |
                        <a [routerLink]="['/estrellas/', estrella.id, 'editar']">Editar</a> |
                        <a (click)="eliminarEstrella(estrella.id)">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button (click)="obtenerEstrellas(estrellasPage.number - 1)" [disabled]="estrellasPage.first">Anterior</button>
        <span>Página {{ estrellasPage.number + 1 }} de {{ estrellasPage.totalPages }}</span>
        <button (click)="obtenerEstrellas(estrellasPage.number + 1)" [disabled]="estrellasPage.last">Siguiente</button>
    </div>

    <a routerLink="/home">Volver</a>
</body>
</html>
