<h2>Lista de Productos</h2>
<a routerLink="/productos/nuevo">Crear Nuevo Producto</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Factor de Demanda</th>
      <th>Factor de Oferta</th>
      <th>Volumen por Unidad</th>
      <th>Precio de Compra</th>
      <th>Precio de Venta</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.id }}</td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.factorDemanda }}</td>
      <td>{{ producto.factorOferta }}</td>
      <td>{{ producto.volumenUnidad }}</td>
      <td>{{ producto.precioCompra }}</td>
      <td>{{ producto.precioVenta }}</td>
      <td>
        <a routerLink="/productos/{{ producto.id }}">Detalles</a>
        <a routerLink="/productos/{{ producto.id }}/editar">Editar</a>
        <button (click)="eliminarProducto(producto.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
