<h1>Editar Tipo de Nave</h1>
<form *ngIf="tipoNave" (submit)="guardarCambios()">
  <input type="hidden" [(ngModel)]="tipoNave.id" name="id">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="tipoNave.nombre" name="nombre" required><br>
  <label for="descripcion">Descripción:</label>
  <input type="text" id="descripcion" [(ngModel)]="tipoNave.descripcion" name="descripcion"><br>
  <button type="submit">Guardar Cambios</button>
</form>
<a routerLink="/tiposnave">Cancelar</a>
